* {
	box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color:peachpuff;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}
h1{
    color:lightcoral;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    display:inline-block;
}
a:hover{
    text-decoration: none;
    color: lightskyblue;
}
header{
    display:block;
    background-color: lightcoral;
    padding-right: 20px;
}

.container {
	max-width: 1200px;
    margin: auto;
    background-color:lightcoral;
}
.user-box{
    border:solid white 1px;
    background-color:lightcoral;
    padding:5px auto;
}
.user-box img{
    width: 50%;
    /*border-radius: 100px;*/
}
.titulo-usuario{
    bottom:5px;
    left:5px;
    color:#FFF;
}